{% extends 'BASE/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<br>
    <div class="container">
        <a href="{% url 'login_user' user_group='admin' %}" class="btn btn-primary" role="button">Back to Admin
            Login</a>
    </div>
</br>
<div class="container">
    <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
        <h2 class="fw-bold text-white mb-3">You can get the details of the students by uploading their picture.</h2>
    </div>
</div>
</br>
<div class="container">
    <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="text-white p-4 p-md-5">
                    <h2 class="fw-bold text-white mb-3"><strong>Student</strong>Details</h2>
                    <p class="mb-4">Please Upload The Image File.</p>
                    <p class="mb-5">Please check the valid input format as .jpg .jpeg .png</p>

                    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_image' user='admin' %}">
                        {% csrf_token %}
                        <label for="imageInput" class="lb"><strong>Please select the image to
                                upload.</strong></label>
                        <input type="file" id="imageInput" name="image" style="display: none;">
                        <button type="submit" class="btn btn-primary me-2" id="btn">Upload</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img
                    class="w-100 h-100 fit-cover" id="upload"
                    src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" /></div>
        </div>
    </div>
</div>


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card bg-light text-dark glow-on-hover" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <h2 class="fw-bold mb-2 text-uppercase">Data Filter Form</h2>
                <p class="text-black-50 mb-5">Please use any of the parameter to filter the data.</p>

                <form method="POST" action="{% url 'filter_student_records' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="roll_no" placeholder="Roll Number">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="batch" placeholder="Batch">
                            <option value="" disabled selected hidden>Choose a batch</option>
                            <option value="First Year">First Year</option>
                            <option value="Second Year">Second Year</option>
                            <option value="Third Year">Third Year</option>
                            <option value="Fourth Year">Fourth Year</option>
                            <option value="M.Tech">M.Tech</option>
                            <option value="PHD">PHD</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="branch" placeholder="Branch">
                            <option value="" disabled selected hidden>Choose a Branch</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="HSS">HSS /(only for M.Tech and Phd)
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
    </div>


    {% if data %}

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card bg-light text-dark glow-on-hover" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="fw-bold mb-2 text-uppercase">Records of all the students ordered batch-wise.</h3>
                    </br>
                    <table class="table table-striped table-hover table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Created At</th>
                                <th scope="col">Name</th>
                                <th scope="col">Roll Number</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Permission</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Vehicle Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entries in data %}
                            {% for entry in entries %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.roll_no }}</td>
                                <td>{{ entry.branch }}</td>
                                <td>{{ entry.batch }}</td>
                                <td>{{ entry.reason }}</td>
                                <td>{{ entry.permission }}</td>
                                <td>{{ entry.phone }}</td>
                                <td>{{ entry.vehicle_no }}</td>
                            </tr>
                            {% endfor %}
                            <tr style="height: 1px;">
                                <td colspan="8"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    {% if entries1 %}

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card bg-light text-dark glow-on-hover" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="fw-bold mb-2 text-uppercase">Records for student with name: {{filter_dict.name}}</h3>
                    </br>
                    <table class="table table-striped table-hover table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Created At</th>
                                <th scope="col">Name</th>
                                <th scope="col">Roll Number</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Permission</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Vehicle Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries1 %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.roll_no }}</td>
                                <td>{{ entry.branch }}</td>
                                <td>{{ entry.batch }}</td>
                                <td>{{ entry.reason }}</td>
                                <td>{{ entry.permission }}</td>
                                <td>{{ entry.phone }}</td>
                                <td>{{ entry.vehicle_no }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% if entries2 %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card bg-light text-dark glow-on-hover" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="fw-bold mb-2 text-uppercase">Records for student with roll number:
                        {{filter_dict.roll_no}}</h3>
                    </br>
                    <table class="table table-striped table-hover table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Created At</th>
                                <th scope="col">Name</th>
                                <th scope="col">Roll Number</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Permission</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Vehicle Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries2 %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.roll_no }}</td>
                                <td>{{ entry.branch }}</td>
                                <td>{{ entry.batch }}</td>
                                <td>{{ entry.reason }}</td>
                                <td>{{ entry.permission }}</td>
                                <td>{{ entry.phone }}</td>
                                <td>{{ entry.vehicle_no }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if entries3 %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card bg-light text-dark glow-on-hover" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="fw-bold mb-2 text-uppercase">Records for student with batch: {{filter_dict.batch}}</h3>
                    </br>
                    <table class="table table-striped table-hover table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Created At</th>
                                <th scope="col">Name</th>
                                <th scope="col">Roll Number</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Permission</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Vehicle Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries3 %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.roll_no }}</td>
                                <td>{{ entry.branch }}</td>
                                <td>{{ entry.batch }}</td>
                                <td>{{ entry.reason }}</td>
                                <td>{{ entry.permission }}</td>
                                <td>{{ entry.phone }}</td>
                                <td>{{ entry.vehicle_no }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if entries4 %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card bg-light text-dark glow-on-hover" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="fw-bold mb-2 text-uppercase">Records for student with branch: {{filter_dict.branch}}</h3>
                    </br>
                    <table class="table table-striped table-hover table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Created At</th>
                                <th scope="col">Name</th>
                                <th scope="col">Roll Number</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Batch</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Permission</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Vehicle Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in entries4 %}
                            <tr>
                                <td>{{ entry.created_at }}</td>
                                <td>{{ entry.name }}</td>
                                <td>{{ entry.roll_no }}</td>
                                <td>{{ entry.branch }}</td>
                                <td>{{ entry.batch }}</td>
                                <td>{{ entry.reason }}</td>
                                <td>{{ entry.permission }}</td>
                                <td>{{ entry.phone }}</td>
                                <td>{{ entry.vehicle_no }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}


    <style>
        body {
            background-color: rgb(220, 220, 220);
        }

        .frm {
        margin-top: 10px;
        padding: 20px;
        border-radius: 5px;

    }

    .lb {
        background-color: #bc2a20;
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }

        .glow-on-hover:active {
            color: #bfbfbf
        }

        .glow-on-hover:active:after {
            background: transparent;
        }

        .glow-on-hover:hover:before {
            opacity: 1;
        }

        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #bfbfbf;
            left: 0;
            top: 0;
            border-radius: 10px;

        }

        @keyframes glowing {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    </style>

    <script>

        let upload = document.getElementById("upload")
        let input = document.getElementById("imageInput")

        input.onchange = function () {
            upload.src = URL.createObjectURL(input.files[0])
        }
    </script>

    {% endblock %}