<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>Gate Entry Management</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto m"></ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link clk" href="{% url 'logout_user' %}">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link clk" href="{% url 'home' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<style>
  .clk {
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: 10px;

    &:hover {
      font-weight: bolder;
      color: bisque;
    }

    &:active {
      color: rgb(0, 140, 171);
    }
  }
</style>